:root {
  --primaryColor: #6C63FF
}

.navbar {
    @apply bg-zinc-100 text-black fixed w-full top-0;
  }
  
  .navbar .container {
    @apply mx-auto;
  }
  
  .navbar .container .nav-content {
    @apply flex p-5 flex-row-reverse justify-between transition-all;
  }
  
  .navbar .container .nav-content ul a{
    @apply opacity-70 transition-all relative
  }
  
  .navbar .container .nav-content ul a::before {
    @apply bg-black;
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    bottom: -0.5rem;
    transition: 0.5s;
    left: 0;
  
  }
  
  .navbar .container .nav-content ul a::before{
    background-color: #6C63FF;
  }
  
  
  .navbar .container .nav-content ul a:hover::before {
    width: 100%;
  }
  
  .navbar .container .nav-content ul a:hover {
    @apply opacity-100;
  
  }
  
  .expand-icon {
    @apply sm:hidden flex flex-row-reverse p-5;
  }
  
  .icons svg {
    cursor: pointer;
  }
  
  .expand-icon svg {
    cursor: pointer;
    transition: 0.2s;
  }
  
  .expand-icon svg:hover {
    transform: scale(1.2);
  }
  
  @media screen and (max-width: 640px) {
    .navbar .container .nav-content {
      @apply flex-col gap-5 fixed top-0 bg-neutral-800 text-white h-full justify-start w-60;
      left: calc(-100%);
      transition: 0.5s;
    }
    .navbar .container .done {
      left: 0;
    }
    .navbar .container ul {
      @apply flex-col gap-5;
    }
    
  
  .navbar .container .nav-content ul a::before{
    @apply bg-white
  }
  
  }
  
  .icons {
    @apply flex flex-row-reverse justify-between;
  }
  
  [data-theme="dark"] .navbar {
    @apply bg-zinc-900 text-white;
  }
  
  .flex-box {
    @apply flex justify-center align-middle bg-slate-200 p-4;
  }
  [data-theme="dark"] .flex-box {
    @apply bg-zinc-900;
  }
  
  .footer {
    @apply bg-zinc-100 text-black absolute w-full bottom-0;
  }
  
  .footer .container {
    @apply p-4 mx-auto;
  }
  
  .footer .container ul {
    @apply flex justify-between;
  }
  
  [data-theme="dark"] .footer {
    @apply bg-zinc-900 text-white;
  }
  

.home-page {
    @apply my-20 p-5 grid grid-cols-4 gap-5 items-center
}

.home-content {
  grid-area: 1 / 3 / 2 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.home-page-svg {
  width: 100%;
}

.svg {
  grid-area: 1 / 3 / 2 / 5;
  height: 100%;
}

h1 {
  color: var(--primaryColor) !important;
  font-size: 3rem !important;
  font-weight: bold;

}

.btn {
  transition: 0.2s !important;
  font-size: 2rem !important;
  color: var(--primaryColor) !important;
  position: relative;
}

.btn::before {
  content: "";
  width: 0;
  height: 1px;
  background-color: var(--primaryColor);
  bottom: 0;
  position: absolute;
  left: 0;
  transition: 0.3s;
}

.btn:hover::before {
  width: 100%;
}